<ion-view view-title="{{title}}">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Playlist Name" id="pName" ng-model="plName">
      </label>
      <!-- Current playlist -->
	 </div>
   <ion-scroll style="width:400px;height:200px;">
  	 <div class="list list-inset" style="width:400px;height:200px;">
  	  <label class="item" ng-repeat="songs in playlist track by songs.uri" ng-if="playlist.length > 0" ng-click="RemoveFromPlaylist($index)">
  		<p class="item-icon-right"> {{songs.name}}
  		 <span ng-repeat="artist in songs.artists" >
             - {{artist.name}}
            </span>
        <i class="icon ion-minus"></i>
  		</p>
  	  </label>
  	</div>
  </ion-scroll>
  <div class="list">
	<label class="item item-input">
        <input type="text" placeholder="Search for a song" id="query">
  </label>
  <div class="padding">
  </div>
      <button class="button button-stable" ng-click="Search()"> Search </button>
  </div>
	 
	<ion-list>
      <!-- Live Search results in a list here -->
        <ion-item class="item item-icon-right" ng-repeat="result in results" ng-click="AddToPlaylist(result)" style="text-decoration:none;color:black;"> {{result.name}} 
          <span ng-repeat="artist in result.artists">
           - {{artist.name}}
          </span>
          <ion-option-button side="left" class="button-positive" ng-click="Preview(result)">{{buttonName}}</ion-option-button>
		  	<i class="icon ion-arrow-right-b"> </i>
        </ion-item>
  <ion-list>
    <div class="padding"></div>
    <button class="button button-calm" ng-click="Save()"> Submit </button>
  </ion-content>
</ion-view>