<ion-view view-title="Home" ng-controller="ListCtrl">
<ion-content>
<h1 class="text-center padding"> Spotify Web App
          <br/><br/>
          <img src="img/images.png">
       </h1>

      <div class="list list-inset">
          <a class="item item-icon-left" 
          href="#/add">
          <i class="icon ion-plus-round"></i>
          Add Playlist</a>
          <a class="item item-icon-left" 
            href="#/EditPlaylist">
         <i class="icon ion-edit"></i>
            Edit Playlist</a>
          <!-- Remove option also included -->
          <a class="item item-icon-left" 
          href="#/SharePlaylist">
          <i class="icon ion-share"></i>
          Share Playlist</a>
          <button class="item button button-calm padding" ng-click="testSpotify()" >Spotify</button>
          <p class="item" ng-repeat="song in songs" > 
            <a class="padding" href="{{song.preview_url}}"> 
              <i class="icon ion-headphone"> </i>
         	   Artist: {{song.artists[0].name}}
        	   Album: {{song.album.name}}
              {{song.name}}
            </a>
            </p>
      </div>
    
</ion-view>